* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.drivers {
  width: 70vw;
  margin: 0 auto;
}

header h1 {
  text-transform: uppercase;
  text-align: center;
  padding: 20px;
  border-top: 5px solid black;
  border-right: 5px solid black;
  margin-top: 3rem;
}

p#intro {
  background-color: #ccc;
  padding: 20px;
  margin-top: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.card {
  border-width: 1px;
  border-top-style: solid;
  border-right-style: solid;
  border-color: black;
  min-width: 30%;
  max-width: 400px;
}

.driver-visual {
  display: flex;
  justify-content: space-between;
}

.driver-visual span {
  padding: 10px;
  font-size: 1.5rem;
}

.driver-img {
  width: 300px;
}

.driver-intro {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #949498;
}

.description {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.description p {
  font-size: 1.5rem;
}

.scoreBtn {
  padding: 0.5rem;
  margin-top: 5px;
  color: white;
  font-size: 1rem;
}
